* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
}

.container-bsm {
  background-image: url(../img/jumbo.png);
  object-fit: contain;
  padding: 50px 0px;
}

.container-bgreen {
  background-color: #d3d3d3;
}

.container-sm {
  max-width: 900px;
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.container-green {
  max-width: 1200px;
  margin: 0 auto;
}

.container-black {
  max-width: 1200px;
  height: 500px;
  margin: 0px auto;
  display: flex;
}

.box {
  background-color: white;
  border-radius: 15px;
  text-align: center;
  padding: 5px 10px;
  text-transform: capitalize;
  width: 100px;
  margin-left: 60px;
}

.box-white {
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 25px;
}

.box-lilla {
  display: inline-block;
  background-color: #8ea1e2;
  color: white;
  border-radius: 20px;
  margin-top: 40px;
  padding: 10px 20px;
  width: 200px;
}

.box-lilla2 {
  background-color: #8ea1e2;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  width: 100px;
}

.box-black {
  background-color: #23272a;
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 25px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.4em;
}

p {
  font-size: 1em;
  padding-top: 15px;
}

.thumb {
  padding-top: 30px;
  vertical-align: middle;
}

.italy {
  vertical-align: middle;
  font-weight: bold;
}

.displayflex-botton {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.bg-img {
  margin-left: 410px;
  background-image: url(../img/stars.svg);
  width: 400px;
}

.bg-grey {
  background-color: #d3d3d3;
  padding: 50px 0;
}

.bg-white {
  background-color: white;
  padding: 50px 0;
}

.bg-black {
  background-color: #23272a;
  padding: 50px 0;
}

header {
  background-color: #3160e0;
  padding: 15px 0px;
}

header ul {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  color: white;
}

header ul li {
  margin: 0 15px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.pg-20 {
  padding: 50px 0;
}

.pg-30 {
  padding: 30px 150px;
}

.pg-starttext {
  padding: 40px 30px;
}

.pg-centraltext {
  padding-top: 40px;
  padding-left: 30px;
}

.pg-finaltext {
  padding-top: 10px;
  padding-left: 25px;
}

.col-40 {
  width: 40%;
}

.col-60 {
  width: 60%;
}

.col-15 {
  width: 17%;
}

.col-34 {
  width: 34%;
}

.col-20 {
  width: 20%;
}

.footer-mod {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 80px;
  margin: 0 auto;
}

.bottom {
  font-size: 1.5em;
  text-transform: capitalize;
}